body {
    display: flex;
    background-color:rgb(238, 238, 238) ;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    flex-wrap: wrap;
}
h1 {
    text-transform:uppercase ;
}
footer {
    background-color: rgb(102, 102, 102);
    color: rgb(255, 255, 255);
    flex: 1 1 0px;
    height: 5vh;
}

header {
    border-bottom: 2px solid black;
    display:inline;
    flex: 1 1 0px;
    height: 10vh;
}
main {
   height: 85vh;
}